header {
  display: flex;
  background-color: #FA9A0B;
  border-bottom: black;
  border-bottom-style: solid;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: xx-large;
  }